@import 'https://fonts.googleapis.com/css?family=Black+Ops+One|Roboto';
* {
	font-family: 'Roboto';
}

small {
	font-family: monospace;
}

.center {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: 'Black Ops One';
}

.post {
	background-color: grey;
	padding: 20px;
	margin-bottom: 2px;
}

.post-snippet {
}

.post-content {
	display: none;
}

#signal-01 {
	display: none;
}

#bbm-01 {
	display: none;
}

#euro-crypto-01 {
	display: none;
}

#nsa-halt-01 {
	display: none;
}

#dead-bill-alive-01 {

}

#trump-crypto-01 {
	display: none;
}

#show-all {
	background-color: #f93920;
	padding: 5px;
	text-decoration: none;
	color: white;
	font-family: 'Roboto';
}
